<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="/user"><img src="${Session.user.userlogo}" class="img-rounded" width="100"></a></p>
            <h3 class="centered">${Session.user.name}</h3>

            <li class="sub-menu">
                <a href="/user">
                    <i class="fa fa-home fa-fw"></i>
                    <span>主页</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="/classlist">
                    <i class="fa fa-group"></i>
                    <span>班级好友</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="/message">
                    <i class="fa fa-comments-o"></i>
                    <span>消息中心</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="/search">
                    <i class="fa fa-search"></i>
                    <span>好友查找</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/start">
                    <i class="fa fa-star"></i>
                    <span>特别关注</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cog fa-fw"></i>
                    <span>设置</span>
                </a>
                <ul class="sub">
                    <li><a  href="/user/updateinfo"><i class="fa fa-address-card"></i>修改个人信息</a></li>
                    <li><a  href="/user/updatepasswd"><i class="fa fa-key fa-fw"></i>修改密码</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="/about">
                    <i class="fa fa-star"></i>
                    <span>联系我们</span>
                </a>
            </li>

        </ul>
    </div>
</aside>