<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>${friend.name}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/css/sweetalert.min.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <script src="/assets/js/jquery.js"></script>
    <script src="/js/sweetalert.min.js"></script>
</head>

<section id="container" >
    <!--  头部导航栏-->
    <#include "/Template/head.html">

    <!--导入侧边栏-->
    <#include "/Template/sidebar.html">

    <section id="main-content" >
        <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-3">
                    <div class="showback">
                        <h2 ><i class="fa fa-address-card"></i>&nbsp;&nbsp;姓名</h2>
                        <h1 style="text-align: center">${friend.name}</h1>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-3">
                    <div class="showback">
                        <h2><i class="fa fa-address-card"></i>&nbsp;&nbsp;学号</h2>
                        <h1 style="text-align: center" id="stuid">${friend.stuid[8..9]}</h1>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="showback">
                        <h2><i class="fa fa-address-card"></i>&nbsp;&nbsp;班级</h2>
                        <h1 style="text-align: center" id="clid">${friend.classId}</h1>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-3">
                    <div class="showback">
                        <h2><i class="fa fa-address-card"></i>&nbsp;&nbsp;所属系院</h2>
                        <h1 style="text-align: center">${friend.speciality}</h1>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-4">
                    <div class="showback" style="height: 279.86px">
                        <h2><i class="fa fa-address-card"></i>&nbsp;&nbsp;关注</h2>
                        <button class="btn btn-primary btn-lg btn-block" id="start">点击关注</button>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-8">
                    <div class="showback">
                        <h4><i class="fa fa-address-card"></i>&nbsp;&nbsp;留言板</h4><hr>
                        <textarea class="form-control" rows="6" id="message"></textarea><br>
                        <button  class="btn btn-success" id="push">发布</button>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-12">
                    <div class="showback" style="height:300px">
                        <h2><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;个性签名</h2><hr>
                        <h2>${friend.signature!}</h2>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-6">
                    <div class="showback" style="height:358px">
                        <h2><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;爱好</h2><hr>
                        <h2>${friend.like!}</h2>
                    </div><!--/showback -->
                </div>
                <div class="col-lg-6">
                    <div class="showback" style="height:358px">
                        <h2><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;联系方式</h2><hr>

                        <h2 ><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;${friend.phtoto!}</h2>
                        <h2 ><i class="fa fa-qq"></i>&nbsp;&nbsp;&nbsp;&nbsp;${friend.qq!}</h2>
                        <h2 ><i class="fa fa-wechat"></i>&nbsp;&nbsp;&nbsp;&nbsp;${friend.wechat!}</h2>
                        <h2 ><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;${friend.email!}</h2>
                    </div><!--/showback -->
                </div>




            </div>
        </section>
    </section>


</section>
<script>
    $("#start").click(function () {
        var sid = $("#stuid").html();
        var cid = $("#clid").html();
        var data = {

            fromid:cid+sid
        };
        $.ajax({
                async: false,//同步，待请求完毕后再执行后面的代码
                type: "POST",
                url: '/setstart',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.error == "1") {
                        swal("已在你的关注列表")
                    }else {
                        swal("关注成功")
                    }
                },
                error: function () {
                    swal("数据获取失败")
                }
            })

    });
    $("#push").click(function () {
        var sid = $("#stuid").html();
        var cid = $("#clid").html();
        var message = $("#message").val();
        if (message == "") {
            swal("请输入内容")
        }else {
            var data = {
                fromid: cid + sid,
                content:message
            };
            $.ajax({
                async: false,//同步，待请求完毕后再执行后面的代码
                type: "POST",
                url: '/setmessage',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.error == "0") {
                        swal("留言成功")
                    }
                },
                error: function () {
                    swal("数据获取失败")
                }
            })
        }
    })

</script>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="/assets/js/common-scripts.js"></script>


</html>