<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yyfeng.mapper.ClassMapper">
    <resultMap id="User" type="user">
        <id column="id" javaType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="passwd" jdbcType="CHAR" property="passwd"/>
        <result column="Stuid" jdbcType="CHAR" property="Stuid"/>
        <result column="classId" jdbcType="CHAR" property="classId"/>
        <result column="Phtoto" jdbcType="CHAR" property="Phtoto"/>
        <result column="qq" jdbcType="CHAR" property="qq"/>
        <result column="wechat" jdbcType="CHAR" property="wechat"/>
        <result column="likes" jdbcType="CHAR" property="like"/>
        <result column="Email" jdbcType="CHAR" property="Email"/>
        <result column="signature" jdbcType="CHAR" property="signature"/>
        <result column="userlogo" jdbcType="CHAR" property="userlogo"/>
        <result column="speciality" jdbcType="CHAR" property="speciality"/>
    </resultMap>

    <select id="classmate" parameterType="String" resultMap="User">
        select * FROM user WHERE classId=#{classId}
    </select>

</mapper>