<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yyfeng.mapper.UserMapper">
    <resultMap id="User" type="user">
        <id column="id" javaType="INTEGER" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="passwd" jdbcType="CHAR" property="passwd"/>
        <result column="Stuid" jdbcType="CHAR" property="Stuid"/>
        <result column="classId" jdbcType="CHAR" property="classId"/>
        <result column="Phtoto" jdbcType="CHAR" property="Phtoto"/>
        <result column="qq" jdbcType="CHAR" property="qq"/>
        <result column="wechat" jdbcType="CHAR" property="wechat"/>
        <result column="like" jdbcType="CHAR" property="like"/>
        <result column="Email" jdbcType="CHAR" property="Email"/>
        <result column="signature" jdbcType="CHAR" property="signature"/>
        <result column="userlogo" jdbcType="CHAR" property="userlogo"/>
        <result column="speciality" jdbcType="CHAR" property="speciality"/>
    </resultMap>

    <resultMap id="startlist" type="xyz.yyfeng.po.Start">
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="Stuid" jdbcType="CHAR" property="Stuid"/>
        <result column="userlogo" jdbcType="CHAR" property="userlogo"/>
        <result column="speciality" jdbcType="CHAR" property="speciality"/>
        <result column="signature" jdbcType="CHAR" property="signature"/>
    </resultMap>
    <resultMap id="startt" type="xyz.yyfeng.po.Start">
        <result column="MeStuid" jdbcType="CHAR" property="Stuid"/>
        <result column="Fromid" jdbcType="CHAR" property="fromid"/>
    </resultMap>
    <resultMap id="message" type="xyz.yyfeng.po.Message">
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="Stuid" jdbcType="CHAR" property="Stuid"/>
        <result column="userlogo" jdbcType="CHAR" property="userlogo"/>
        <result column="speciality" jdbcType="CHAR" property="speciality"/>
        <result column="Datetime" jdbcType="TIMESTAMP" property="Datetime"/>
        <result column="content" jdbcType="CHAR" property="content"/>
    </resultMap>
    <select id="Find" parameterType="String" resultMap="User">
        select * FROM user WHERE Stuid=#{Stuid}
    </select>

    <select id="Firsts" parameterType="String" resultMap="User">
        select * FROM user WHERE name=#{name}
    </select>

    <select id="getStarts" parameterType="String" resultMap="startlist">
      select name,Stuid,userlogo,speciality,signature from user where Stuid in
    (select Fromid from starlist where MeStuid=#{Stuid})

    </select>

    <select id="slStart" parameterType="start" resultMap="startt">
        select * from starlist where MeStuid = #{Stuid} and Fromid = #{fromid}
    </select>
    <!--添加 -->

    <insert id="setStart" parameterType="start">
        INSERT INTO starlist (MeStuid,Fromid) VALUES (#{Stuid},#{fromid})
    </insert>
    <!--删除 -->
   <select id="showmessage" parameterType="String" resultMap="message">
       select user.name,user.speciality,user.userlogo,user.Stuid,
       message.Datetime,message.content  from user ,message where
       message.Metuid=#{Stdid} and message.fromid=user.Stuid
   </select>
    <insert id="setmessage" parameterType="xyz.yyfeng.po.Message">
        INSERT INTO message (Metuid,fromid,content) VALUES (#{fromid},#{Stuid},#{content})
    </insert>
</mapper>